* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(55, 58, 60);

}

#heading {
    background-color: #b4f1eb; /* Set the background color */
    padding: 10px; /* Add padding for better visual appearance */
    font-size: 2rem;
    font-family: "Protest Guerrilla", sans-serif;

}


.images img{
    width: 400px; 
    height: 400px;
    margin-right: 10px; /* Add space between images */
 
}

.images{
    display: flex; /* Use flexbox layout */
    flex-direction: row; /* Arrange items from left to right */
}

#pic {
    background-color: #6fbbb6; /* Set the background color */
    color: #fff; /* Set the text color */
    font-family: Arial, sans-serif; /* Set the font family */
    font-size: 16px; /* Set the font size */
    font-weight: bold; /* Set the font weight */
    padding: 10px 20px; /* Add padding for better visual appearance */
    border: none; /* Remove the border */
    cursor: pointer; /* Change cursor to pointer on hover */
    border-radius:10px;
    
}

.images {
    display: flex;
    flex-wrap: wrap; /* Allow images to wrap to the next line */
    justify-content: space-between;
    align-items: center;
}

.image-container {
    position: relative;
    margin-bottom: 20px; /* Add spacing between image containers */
    flex-basis: calc(50% - 10px); /* Set width to 50% with margin */
    text-align: center;
    border: 2px solid #98b58f;
    border-radius: 5px;
    padding: 10px;
}

.image-text {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    margin: 0;
    margin-bottom: 10px;
    font-size: 1rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.image-container img{
    max-width: 100%;
    max-height: 100%;
}
.image-with-download {
    position: relative; /* Positioning context for absolute positioning */
    display: inline-block; /* Ensure container fits around image and button */
}

.download-btn {
    position: absolute; /* Position the button absolutely */
    top: 10px; /* Adjust top position as needed */
    right: 10px; /* Adjust right position as needed */
    background: transparent; /* Transparent background */
    color: #ffffff; /* White color for button */
    font-size: 24px; /* Adjust font size as needed */
    text-decoration: none; /* Remove underline */
    cursor: pointer; /* Change cursor to pointer */
    z-index: 2; /* Ensure button appears above image */
}

.upload-text{
    text-align: center;
    font-size: 1.8em;
    margin-top: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #61706f;
}

.download-btn:hover {
    color: #cccccc; /* Change button color on hover */
}
/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .image-container {
        flex-basis: 100%; /* Set width to 100% for smaller screens */
    }
}




